body {
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero section */
.hero {
    position: relative;
    padding: 40px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("your-left-video-bg.jpg"), url("your-right-video-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center, center center, right center;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

/* Featured Tips section */
.featured-tips {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
}

.featured-tips h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}

.tip {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tip h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Latest Betting Tips section */
.latest-tips {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.latest-tips h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}

/* Betting Categories section */
.categories {
    background-color: #5c97bf;
    padding: 40px;
    text-align: center;
}

.categories h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.categories ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.categories ul li {
    display: inline-block;
}

.categories ul li a {
    display: inline-block;
    color: #fff;
    background-color: #447799;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.categories ul li a:hover {
    background-color: #345a78;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


