body {
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero section */
.hero {
    background-color: #5c97bf;
    padding: 40px;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

/* Featured Tips section */
.featured-tips {
    padding: 40px;
    text-align: center;
}

.featured-tips h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.tip {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tip h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Latest Betting Tips section */
.latest-tips {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.latest-tips h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Betting Categories section */
.categories {
    padding: 40px;
    text-align: center;
}

.categories h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.categories ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.categories ul li {
    display: inline-block;
}

.categories ul li a {
    display: inline-block;
    color: #fff;
    background-color: #5c97bf;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.categories ul li a:hover {
    background-color: #447799;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

